

.left-nav-bar {
    float: left;
    width: 20%;
    text-align: left;
}

.middle-nav-bar {
    display: flex;
    width: 60%;
    text-align: center;
    justify-content: center;
}

.right-nav-bar {
    float: left;
    width: 20%;
    display: flex;
    /* text-align: center; */
    /* margin: 0 1rem; */
    justify-content: center;
}

.video-icon {
    justify-content: center;
    /* margin-top: 0.5rem; */
    cursor: pointer;
}

.user-icon {
    margin-left: 3rem;
}

.nav-btn {
    text-decoration: none;
    border: 2px solid #1872f1;
    padding: 0.5rem 1rem;
    color: #1872f1;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.search-box {
    display: flex;
    align-items: center;
    margin-right: 0;
    padding: 0.5rem 1rem;
    width: 70%;
    border: 1px solid #bbb;
    outline: none;
    border-right: none;
    border-top-left-radius: 18px;
    border-bottom-left-radius:18px;
}

.search-btn {
    text-indent: -9999px;
    align-items: center;
    overflow: hidden;
    margin-left: 0;
    padding: 0.5rem 2rem;
    outline: none;
    border: 1px solid #bbb;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background: transparent url(../images/search.svg) no-repeat center;
    background-color: #bbb;
    cursor: pointer;
}

.profile-img {
    border-radius: 50%;
    width: 2.7rem;
    height: 2.7rem;
    cursor: pointer;
}

.subscriber-text {
    font-size: 0.9rem;
}

.comment-form {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.m-top-1 {
    margin-top: 1rem;
}

.m-top-2 {
    margin-top: 2rem;
}

.m-top-3 {
    margin-top: 3rem;
}

.m-top-4 {
    margin-top: 4rem;
}

.m-top-5 {
    margin-top: 5rem;
}

.m-top-6 {
    margin-top: 6rem;
}

.m-top-7 {
    margin-top: 7rem;
}

.m-top-8 {
    margin-top: 8rem;
}

.m-top-9 {
    margin-top: 9rem;
}

.m-top-10 {
    margin-top: 10rem;
}

.form-container {
    width: 30%;
    margin: 2rem 35%;
    padding: 1rem 2rem;
    justify-content: center;
    background-color: #bbb;
    border-radius: 6px;
    box-shadow: 12px 12px 5px;
}

.form-input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.3rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #1872f1;
}