
.video-container {
}

.card-video {
    width: 20rem;
    border: 1px solid #fff;
    border-radius: 12px;
    margin: 0 0.2rem;
}

.video-img-container {
    position: relative;
    width: 22rem;
    height: 14rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.video-img-container img {
    width: 100%;
    height: 100%;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.video-info {
    width: 19rem;
    padding: 0.5rem 0;
}

.video-profile-left {
    float: left;
    width: 12%;
}

.video-profile-right {
    float: left;
    width: 88%;
}

.video-title {
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
    margin-left: 3px;
}

.channel-title {
    font-size: 14px;
    color: #444;
    margin-left: 3px;
}